.animated-filter {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin: 2em 0 0;
  @media (min-width: $breakpoint-md) {
    margin: 0;
  }
}
.animated-filter-tag {
  justify-self: center;
  width: 270px;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: $shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.color-palette-icon {
  width: 35px;
  height: 35px;
  border-radius: 1rem;
  margin: 0 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include themify($themes) {
    fill: themed("primary");
  }
}
.animated-tag-text {
  font-size: 0.9rem;
  margin: 0 0 0 -1.8rem;
  color: $grey-dark;
}
.animated-tag-close {
  width: 1.6rem;
  margin: 0 0.5rem;
  display: flex;
  font-size: 1.6rem;
  transition: $transition;
  fill: $grey-light-3;
  cursor: pointer;
  &:hover {
    svg {
      @include themify($themes) {
        fill: themed("primary");
      }
    }
  }
}
