//SWITCH start
.animated-switch {
  display: grid;
  grid-column: 1 / 2;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  justify-content: center;
  justify-items: center;
  margin: 2em 0 0;
  @media (min-width: $breakpoint-md) {
    margin: 0;
  }
}
.animated-switch-control {
  display: none;
}
.switch-1,
.switch-2 {
  width: 80px;
}
.animated-switch-label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  box-shadow: $shadow;
  background: rgba(255, 255, 255, 0);
  position: relative;
  cursor: pointer;
  border-radius: 1.6rem;
  &::after {
    content: "";
    position: absolute;
    left: 0.4rem;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $grey-dark;
    transition: all 0.4s ease;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0;
    transition: all 0.4s ease;
    @include themify($themes) {
      background: linear-gradient(
        330deg,
        themed("primary-dark") 0%,
        themed("primary") 50%,
        themed("primary-light") 100%
      );
    }
  }
}
.animated-switch-control:checked {
  & ~ .animated-switch-label {
    &::before {
      opacity: 1;
    }
    &::after {
      left: 57%;
      background: $grey-light-2;
    }
  }
}
// SWITCH end
