.checkbox {
  margin-bottom: 15px;
  .tables & {
    margin-bottom: 0;
  }
}
.checkbox-control {
  display: none;
}
.checkbox-label {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 21px;
  height: 21px;
  border-radius: 4px;
  border: solid 2px;
  cursor: pointer;
  @include themify($themes) {
    color: themed("main-font-color");
    border-color: themed("border-color");
    background-color: themed("main-background-color");
  }
  &:focus {
    @include themify($themes) {
      border-color: themed("primary");
      background-color: themed("primary");
    }
  }
  .disabled-check & {
    cursor: default;
    @include themify($themes) {
      color: themed("secondary-font-color");
    }
  }
}
.checked-icon {
  &:before {
    .checkbox-label & {
      position: absolute;
      top: 1px;
      right: 1px;
      font-size: 1.1em;
      opacity: 0;
      transition: all $transition;
    }
    .disabled-check & {
      border: rgba(255, 255, 255, 0.5);
      opacity: 0;
    }
  }
}

.checkbox-control:checked + .checkbox-label,
.checkbox-control:hover + .checkbox-label,
.checkbox-control:focus + .checkbox-label {
  @include themify($themes) {
    border-color: themed("primary");
  }

  .checked-icon {
    &:before {
      opacity: 1;
      transition: all $transition;
      @include themify($themes) {
        color: themed("main-font-color");
      }
      .disabled-check & {
        opacity: 0;
      }
      .dis-selected-check & {
        opacity: 1;
        @include themify($themes) {
          color: themed("secondary-font-color");
        }
      }
    }
  }

  .dis-selected-check &,
  .disabled-check & {
    cursor: default;
    @include themify($themes) {
      color: themed("secondary-font-color");
      border-color: themed("border-color");
    }
    .checked-icon {
      &:after {
        opacity: 0;
      }
    }
  }
}

.checkbox-control:hover + .disabled-check-label {
  border: solid 2px;
  @include themify($themes) {
    color: themed("secondary-font-color");
    border-color: themed("border-color");
  }
  .checked-icon {
    &:after {
      opacity: 0;
    }
  }
}
.checkbox-label-text {
  padding-left: 35px;
  min-width: 200px;
  transition: $transition;
  @include themify($themes) {
    color: themed("main-font-color");
  }
  .checkbox-control:checked + .checkbox-label &,
  .checkbox:hover & {
    @include themify($themes) {
      color: themed("main-font-color");
    }
    .dis-selected-check &,
    .disabled-check & {
      @include themify($themes) {
        color: themed("secondary-font-color");
      }
    }
  }
  .dis-selected-check &,
  .disabled-check & {
    @include themify($themes) {
      color: themed("secondary-font-color");
    }
  }
  .checkbox:hover .disabled-check-label & {
    text-shadow: none;
    @include themify($themes) {
      color: themed("secondary-font-color");
    }
  }
}
