.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
.row-revers {
  flex-direction: row-reverse;
}

.items-center {
  align-items: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.flex-grow-1 {
  flex: 1 1 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-stretch {
  align-items: stretch;
}