*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Montserrat", "Work Sans", BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.35px;
  @include themify($themes) {
    color: themed('main-font-color');  
  }
}

ul {
  list-style: none;
}

*,
*:active,
*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
